h1 {{ user.data.name }}
    button.btn.pull-right.btn-danger(data-toggle='modal', data-target="#mvrDisplayModal")
        i.fa.fa-trash.fa-fw
        |  Delete

    #mvrDisplayModal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4.modal-title Delete user
                    .modal-body
                        p Sure you want to delete this user?
                        p #{foo}
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button#delete.btn.btn-danger(type='button', ng-click="delete()")
                            i.fa.fa-trash-o.fa-fw
                            | Delete

p Created on {{ user.data.created }}

hr

h3 Username
  code {{ user.data.username }}

h3 Email
  code {{ user.data.email }}
